.navbar
{
    background-color: burlywood;
    display: flex;
    padding: 30px;
    /* gap: 20px; */
    align-items: center;
    justify-content:space-evenly;
}
.navbar ul
{
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: space-evenly;
}